.category-men,
.category-women,
.category-men-clothing,
.category-men-shoes,
.category-men-accessories,
.category-women-clothing,
.category-women-shoes,
.category-women-accessories,
.category-men-clothing-tops,
.category-men-clothing-bottoms,
.category-men-clothing-coats,
.category-men-clothing-jackets,
.category-men-clothing-tracksuits,
.category-men-clothing-suits,
.category-men-clothing-sportswear,
.category-men-clothing-nightwear,
.category-men-clothing-underwear,
.category-men-clothing-swimwear,
.category-men-clothing-fancy-dress,
.category-men-tops-tshirts,
.category-men-tops-hoodies,
.category-men-tops-sweatshirts,
.category-men-tops-jumpers,
.category-men-tops-cardigans,
.category-men-tops-shirts,
.category-men-tops-polo-shirts,
.category-men-tops-blouses,
.category-men-tops-vests,
.category-men-tops-other,
.category-men-bottoms-jeans,
.category-men-bottoms-jeans-slim,
.category-men-bottoms-jeans-straight,
.category-men-bottoms-jeans-loose,
.category-men-bottoms-jeans-relaxed,
.category-men-bottoms-jeans-baggy,
.category-men-bottoms-jeans-skinny,
.category-men-bottoms-jeans-ripped,
.category-men-bottoms-sweatpant, 
.category-men-bottoms-trousers, 
.category-men-bottoms-shorts,
.category-men-bottoms-cargos, 
.category-men-bottoms-other,
.category-men-coats-duffle,  
.category-men-coats-overcoat,  
.category-men-coats-parka,  
.category-men-coats-puffer,  
.category-men-coats-raincoat,  
.category-men-coats-trench,  
.category-men-coats-windbreaker,
.category-men-coats-other,
.category-men-bottoms-trousers-chinos,
.category-men-bottoms-trousers-skinny,
.category-men-bottoms-trousers-cropped,
.category-men-bottoms-trousers-tailored,
.category-men-bottoms-trousers-wide-legged,
.category-men-bottoms-trousers-other,
.category-men-jackets-blazer,
.category-men-jackets-bomber,
.category-men-jackets-denim,
.category-men-jackets-fleece,
.category-men-jackets-leather,
.category-men-jackets-lightweight,
.category-men-jackets-varsity,
.category-men-jackets-other,
.category-men-clothing-tracksuits,
.category-men-suits-suits,
.category-men-suits-tailored-jackets,
.category-men-suits-tailored-trousers,
.category-men-suits-waistcoats,
.category-men-suits-tuxedos,
.category-men-suits-other,
.category-men-sportswear-tops,
.category-men-sportswear-bottoms,
.category-men-sportswear-tops-tshirts, 
.category-men-sportswear-tops-tanktops, 
.category-men-sportswear-tops-compression, 
.category-men-sportswear-tops-jerseys, 
.category-men-sportswear-tops-other,
.category-men-sportswear-bottoms-shorts,
.category-men-sportswear-bottoms-joggers,
.category-men-sportswear-bottoms-leggings,
.category-men-sportswear-bottoms-compression-shorts,
.category-men-sportswear-bottoms-other,
.category-men-nightwear-one-piece-pyjamas,  
.category-men-nightwear-pyjama-sets,  
.category-men-nightwear-pyjama-bottoms,  
.category-men-nightwear-pyjama-tops,
.category-men-nightwear-onesies,
.category-men-nightwear-other,
.category-men-underwear-boxers,
.category-men-underwear-briefs,
.category-men-underwear-socks,
.category-men-underwear-other,
.category-men-swimwear-swim-shorts,
.category-men-swimwear-swim-tops,
.category-men-swimwear-swim-sets,
.category-men-swimwear-wetsuits,
.category-men-swimwear-other
{
  margin-top: 5px;
  position: relative;
  display: none;
  height: 33px;
  width: 455px;
  background-color: rgb(25,28,31);
  border-radius: 7px;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  border-bottom: solid;
  border-color: rgba(255, 255, 255, 0.2);
  border-width: 1px;
}

.category-men,
.category-women,
.category-men-clothing,
.category-men-shoes,
.category-men-accessories,
.category-women-clothing,
.category-women-shoes,
.category-women-accessories,
.category-men-sportswear-tops,
.category-men-sportswear-bottoms
 {
  height: 50px;
}

.category-men,
.category-women
{
  display: flex;
}

.category-men-clothing:hover,
.category-men-shoes:hover,
.category-men-accessories:hover,
.category-women-clothing:hover,
.category-women-shoes:hover,
.category-women-accessories:hover,
.category-men-clothing-tops:hover,
.category-men-clothing-bottoms:hover,
.category-men-clothing-coats:hover,
.category-men-clothing-jackets:hover,
.category-men-clothing-tracksuits:hover,
.category-men-clothing-suits:hover,
.category-men-clothing-sportswear:hover,
.category-men-clothing-nightwear:hover,
.category-men-clothing-underwear:hover,
.category-men-clothing-swimwear:hover,
.category-men-clothing-fancy-dress:hover,
.category-men-tops-tshirts:hover,
.category-men-tops-hoodies:hover,
.category-men-tops-sweatshirts:hover,
.category-men-tops-jumpers:hover,
.category-men-tops-cardigans:hover,
.category-men-tops-shirts:hover,
.category-men-tops-polo-shirts:hover,
.category-men-tops-blouses:hover,
.category-men-tops-vests:hover,
.category-men-tops-other:hover,
.category-men-bottoms-jeans:hover,
.category-men-bottoms-jeans-slim:hover,
.category-men-bottoms-jeans-straight:hover,
.category-men-bottoms-jeans-loose:hover,
.category-men-bottoms-jeans-relaxed:hover,
.category-men-bottoms-jeans-baggy:hover,
.category-men-bottoms-jeans-skinny:hover,
.category-men-bottoms-jeans-ripped:hover,
.category-men-bottoms-sweatpant:hover, 
.category-men-bottoms-trousers:hover, 
.category-men-bottoms-shorts:hover,
.category-men-bottoms-cargos:hover,
.category-men-bottoms-other:hover,
.category-men-coats-duffle:hover,  
.category-men-coats-overcoat:hover,  
.category-men-coats-parka:hover,  
.category-men-coats-puffer:hover,  
.category-men-coats-raincoat:hover,  
.category-men-coats-trench:hover,  
.category-men-coats-windbreaker:hover,
.category-men-coats-other:hover,
.category-men-bottoms-trousers-chinos:hover,
.category-men-bottoms-trousers-skinny:hover,
.category-men-bottoms-trousers-cropped:hover,
.category-men-bottoms-trousers-tailored:hover,
.category-men-bottoms-trousers-wide-legged:hover,
.category-men-bottoms-trousers-other:hover,
.category-men-jackets-blazer:hover,
.category-men-jackets-bomber:hover,
.category-men-jackets-denim:hover,
.category-men-jackets-fleece:hover,
.category-men-jackets-leather:hover,
.category-men-jackets-lightweight:hover,
.category-men-jackets-varsity:hover,
.category-men-jackets-other:hover,
.category-men-clothing-tracksuits:hover,
.category-men-suits-suits:hover,
.category-men-suits-tailored-jackets:hover,
.category-men-suits-tailored-trousers:hover,
.category-men-suits-waistcoats:hover,
.category-men-suits-tuxedos:hover,
.category-men-suits-other:hover,
.category-men-sportswear-tops:hover,
.category-men-sportswear-bottoms:hover,
.category-men-sportswear-tops-tshirts:hover, 
.category-men-sportswear-tops-tanktops:hover, 
.category-men-sportswear-tops-compression:hover, 
.category-men-sportswear-tops-jerseys:hover, 
.category-men-sportswear-tops-other:hover,
.category-men-sportswear-bottoms-shorts:hover,
.category-men-sportswear-bottoms-joggers:hover,
.category-men-sportswear-bottoms-leggings:hover,
.category-men-sportswear-bottoms-compression-shorts:hover,
.category-men-sportswear-bottoms-other:hover,
.category-men-nightwear-one-piece-pyjamas:hover,  
.category-men-nightwear-pyjama-sets:hover,  
.category-men-nightwear-pyjama-bottoms:hover,  
.category-men-nightwear-pyjama-tops:hover,
.category-men-nightwear-onesies:hover,
.category-men-nightwear-other:hover,
.category-men-underwear-boxers:hover,
.category-men-underwear-briefs:hover,
.category-men-underwear-socks:hover,
.category-men-underwear-other:hover,
.category-men-swimwear-swim-shorts:hover,
.category-men-swimwear-swim-tops:hover,
.category-men-swimwear-swim-sets:hover,
.category-men-swimwear-wetsuits:hover,
.category-men-swimwear-other:hover
{
  background-color: rgba(15, 17, 19, 255);
}



.men-fancy-dress-select-icon,
.men-tops-tshirts-select-icon,
.men-tops-hoodies-select-icon,
.men-tops-sweatshirts-select-icon,
.men-tops-jumpers-select-icon,
.men-tops-cardigans-select-icon,
.men-tops-shirts-select-icon,
.men-tops-polo-shirts-select-icon,
.men-tops-blouses-select-icon,
.men-tops-vests-select-icon,
.men-tops-other-select-icon,
.men-bottoms-sweatpants-select-icon,
.men-bottoms-cargos-select-icon,
.men-bottoms-jeans-slim-select-icon,
.men-bottoms-jeans-straight-select-icon,
.men-bottoms-jeans-loose-select-icon,
.men-bottoms-jeans-relaxed-select-icon,
.men-bottoms-jeans-baggy-select-icon,
.men-bottoms-jeans-skinny-select-icon,
.men-bottoms-jeans-ripped-select-icon,
.men-bottoms-shorts-select-icon,
.men-bottoms-other-select-icon,
.men-bottoms-trousers-chinos-select-icon,
.men-bottoms-trousers-skinny-select-icon,
.men-bottoms-trousers-cropped-select-icon,
.men-bottoms-trousers-tailored-select-icon,
.men-bottoms-trousers-wide-legged-select-icon,
.men-bottoms-trousers-other-select-icon,
.men-coats-duffle-select-icon,
.men-coats-overcoat-select-icon,
.men-coats-parka-select-icon,
.men-coats-puffer-select-icon,
.men-coats-raincoat-select-icon,
.men-coats-trench-select-icon,
.men-coats-windbreaker-select-icon,
.men-coats-other-select-icon,
.men-jackets-blazer-select-icon,
.men-jackets-bomber-select-icon,
.men-jackets-denim-select-icon,
.men-jackets-fleece-select-icon,
.men-jackets-leather-select-icon,
.men-jackets-lightweight-select-icon,
.men-jackets-varsity-select-icon,
.men-jackets-other-select-icon,
.men-tracksuits-select-icon,
.men-suits-suits-select-icon,
.men-suits-tailored-jackets-select-icon,
.men-suits-tailored-trousers-select-icon,
.men-suits-waistcoats-select-icon,
.men-suits-tuxedos-select-icon,
.men-suits-other-select-icon,
.men-sportswear-tops-tshirts-select-icon, 
.men-sportswear-tops-tanktops-select-icon, 
.men-sportswear-tops-compression-select-icon, 
.men-sportswear-tops-jerseys-select-icon, 
.men-sportswear-tops-other-select-icon,
.men-sportswear-bottoms-shorts-select-icon,
.men-sportswear-bottoms-joggers-select-icon,
.men-sportswear-bottoms-leggings-select-icon,
.men-sportswear-bottoms-compression-shorts-select-icon,
.men-sportswear-bottoms-other-select-icon,
.men-nightwear-one-piece-pyjamas-select-icon,  
.men-nightwear-pyjama-sets-select-icon,  
.men-nightwear-pyjama-bottoms-select-icon,  
.men-nightwear-pyjama-tops-select-icon,
.men-nightwear-onesies-select-icon,
.men-nightwear-other-select-icon,
.men-underwear-boxers-select-icon,
.men-underwear-briefs-select-icon,
.men-underwear-socks-select-icon,
.men-underwear-other-select-icon,
.men-swimwear-swim-shorts-select-icon,
.men-swimwear-swim-tops-select-icon,
.men-swimwear-swim-sets-select-icon,
.men-swimwear-wetsuits-select-icon,
.men-swimwear-other-select-icon
{
  height: 12px;
}

.men-fancy-dress-selected-icon,
.men-tops-tshirts-selected-icon,
.men-tops-hoodies-selected-icon,
.men-tops-sweatshirts-selected-icon,
.men-tops-jumpers-selected-icon,
.men-tops-cardigans-selected-icon,
.men-tops-shirts-selected-icon,
.men-tops-polo-shirts-selected-icon,
.men-tops-blouses-selected-icon,
.men-tops-vests-selected-icon,
.men-tops-other-selected-icon,
.men-bottoms-sweatpants-selected-icon,
.men-bottoms-cargos-selected-icon,
.men-bottoms-jeans-slim-selected-icon,
.men-bottoms-jeans-straight-selected-icon,
.men-bottoms-jeans-loose-selected-icon,
.men-bottoms-jeans-relaxed-selected-icon,
.men-bottoms-jeans-baggy-selected-icon,
.men-bottoms-jeans-skinny-selected-icon,
.men-bottoms-jeans-ripped-selected-icon,
.men-bottoms-shorts-selected-icon,
.men-bottoms-other-selected-icon,
.men-bottoms-trousers-chinos-selected-icon,
.men-bottoms-trousers-skinny-selected-icon,
.men-bottoms-trousers-cropped-selected-icon,
.men-bottoms-trousers-tailored-selected-icon,
.men-bottoms-trousers-wide-legged-selected-icon,
.men-bottoms-trousers-other-selected-icon,
.men-coats-windbreaker-selected-icon,
.men-coats-trench-selected-icon,
.men-coats-raincoat-selected-icon,
.men-coats-puffer-selected-icon,
.men-coats-parka-selected-icon,
.men-coats-overcoat-selected-icon,
.men-coats-duffle-selected-icon,
.men-coats-other-selected-icon,
.men-jackets-blazer-selected-icon,
.men-jackets-bomber-selected-icon,
.men-jackets-denim-selected-icon,
.men-jackets-fleece-selected-icon,
.men-jackets-leather-selected-icon,
.men-jackets-lightweight-selected-icon,
.men-jackets-varsity-selected-icon,
.men-jackets-other-selected-icon,
.men-tracksuits-selected-icon,
.men-suits-suits-selected-icon,
.men-suits-tailored-jackets-selected-icon,
.men-suits-tailored-trousers-selected-icon,
.men-suits-waistcoats-selected-icon,
.men-suits-tuxedos-selected-icon,
.men-suits-other-selected-icon,
.men-sportswear-tops-tshirts-selected-icon, 
.men-sportswear-tops-tanktops-selected-icon, 
.men-sportswear-tops-compression-selected-icon, 
.men-sportswear-tops-jerseys-selected-icon, 
.men-sportswear-tops-other-selected-icon,
.men-sportswear-bottoms-shorts-selected-icon,
.men-sportswear-bottoms-joggers-selected-icon,
.men-sportswear-bottoms-leggings-selected-icon,
.men-sportswear-bottoms-compression-shorts-selected-icon,
.men-sportswear-bottoms-other-selected-icon,
.men-nightwear-one-piece-pyjamas-selected-icon,  
.men-nightwear-pyjama-sets-selected-icon,  
.men-nightwear-pyjama-bottoms-selected-icon,  
.men-nightwear-pyjama-tops-selected-icon,
.men-nightwear-onesies-selected-icon,
.men-nightwear-other-selected-icon,
.men-underwear-boxers-selected-icon,
.men-underwear-briefs-selected-icon,
.men-underwear-socks-selected-icon,
.men-underwear-other-selected-icon,
.men-swimwear-swim-shorts-selected-icon,
.men-swimwear-swim-tops-selected-icon,
.men-swimwear-swim-sets-selected-icon,
.men-swimwear-wetsuits-selected-icon,
.men-swimwear-other-selected-icon
{
  display: none;
  height: 12px;
}

.category-go-to-arrow-positioning {
  position: absolute;
  right: 20px;
}

.category-go-to-arrow {
  height: 10px;
}

.category-select-icons-positioning {
  position: absolute;
  right: 17px;
}