.discover-infeed {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discover-layout {
  margin-left: 500px;
  margin-right: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.discover-infeed-post {
  width: 303.328px;
  height: 168.812px;
}